@import-normalize;
@import 'inquiry-view.css';
@import 'inquiry-selector.css';

:root{
  --accent-color : rgb(185, 125, 185);
  --faded-color : rgb(151, 151, 151);
  --selected-inquiry-background-color: rgb(122, 95, 124);
  --selected-inquiry-text-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body{
  margin: 0;
}

/* textarea{
  overflow-x: auto;
  white-space: nowrap;
  resize: none;
} */

.main-container{
  display: flex;
}

.button{
  padding: 1rem;
}

.delete-button{
  align-self: center;
  color: red;
  font-weight: bold;
  border-radius: 100px;
  border: 2px solid transparent;
  padding: 1rem;
  margin-left: 1rem;
}

.delete-button:hover{
  border: 2px solid red;
  cursor: pointer;
}

.no-inquiry-selected{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  color: var(--accent-color);
  font-weight: bold;
}