@import-normalize;
@import 'questions-view.css';
@import 'turnarounds-view.css';
@import 'inquiry-selector.css';

:root{
  --accent-color : rgb(185, 125, 185);
  --faded-color : rgb(219, 219, 219);
  --selected-inquiry-background-color: rgb(122, 95, 124);
  --selected-inquiry-text-color: rgb(255, 255, 255);
  --background-color: rgb(224, 212, 219);
  --question-color: rgb(255, 255, 255);
  --text-color: rgb(80, 80, 80);
  --red-accent-color: rgb(255, 60, 60);
  --example-hover-color: rgb(0, 0, 0);

  --background-color-app: rgb(241, 241, 241);
  --grey-outline-color: rgb(202, 202, 202);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body{
  margin: 0;
  background-color: var(--background-color-app);
}

.icon{
  outline: none;
}


.delete-icon-container:hover{
  background-color: var(--red-accent-color);
}
.delete-icon-container:hover .icon{
  filter: brightness(0) invert();
}


.fade-item-enter {
  opacity: 0;
}
.fade-item-enter-active {
  opacity: 1;
  transition:  200ms ;
}
.fade-item-exit {
  opacity: 1;
}
.fade-item-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition:  500ms ;
}


.main-container{
  display: flex;
  justify-content: center;
}

.button{
  padding: 1rem;
}

.delete-button{
  align-self: start;
  color: red;
  font-weight: bold;
  border-radius: 100px;
  border: 2px solid transparent;
  padding: .3rem .8rem;
  margin-left: 1rem;
  box-shadow: 0 4px 6px -6px black;
  transition: .1s;
}

.delete-button:hover{
  background-color: var(--red-accent-color);
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.delete-button:active{
  background-color: var(--red-accent-color);
  color: white;
  cursor: pointer;
  transform: scale(.9);
}

.no-inquiry-selected{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  color: var(--accent-color);
  font-weight: bold;
}

