.thought-container{
    display: flex;
    background-color: var(--selected-inquiry-background-color);
    padding: 1rem;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
}

.questions-container{
    margin: 1rem;
}

.inquiry-view-container{
    outline: 1px solid black;
    flex: 1;
    max-height: 100vh;
    overflow-y: scroll;
}

.turnaround-title-container{
    display: flex;
}

.turnaround-section-container{
    margin-bottom: 2rem;
}

.turnaround-example-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.turnaround-container{
    margin: 1rem;
}

.answer{
    font-size: 1.2rem;
    /* outline: none;
    border: none; */
}

.question{
    font-size: 1.5rem;
    color: var(--faded-color);
    font-weight: bold;
    margin: 2rem 0 1rem 0;
}

.input-field{
    width: 100%;
    height: 1.2rem;
    line-height: 1.4em;
    resize: none;
    border: none;
}

.thought-title{
    font-size: 2rem;
    color: white;
    background-color: var(--selected-inquiry-background-color);
    resize: none;
    border: none;
    width: 100%;
    font-weight: bold;
    height: 1.2rem;
}

.turnaround-title{
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--selected-inquiry-background-color);
    color: white;
    padding: 1rem;
    margin: 4rem 0 1rem 0;
}

.example{
    font-size: 1.2rem;
}

