.thought-container{
    display: flex;
}

.inquiry-view-container{
    outline: 1px solid black;
    padding : 1rem;
    flex: 1;
}

.turnaround-title-container{
    display: flex;
}

.turnaround-example-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.turnaround-container{
    margin: 1rem;
}

.answer{
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    /* outline: none;
    border: none; */
}

.question{
    font-size: 1.5rem;
    color: var(--faded-color);
    font-weight: bold;
    margin: 0 0 1rem 0;
}

.input-field{
    width: 100%;
    resize: vertical;
    border: none;
}

.thought-title{
    font-size: 2rem;
    color: var(--accent-color);
}

.example{
    font-size: 1.2rem;
}

