.side-bar-container {
    width: 100%;
    padding: 1.0rem;
}

.inquiry-selector-container {
    display: grid;
    gap: .2rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-bottom: 1rem;
}

.inquiry-card-container {

    min-height: 100px;
    padding: 1.2rem 1rem;
    margin-top: .5rem;
    border: 1px solid var(--grey-outline-color);
    font-size: 1.0rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -6px black;

    display: flex;
    justify-content: space-between;

    transition: .3s;
}

.inquiry-card-container:hover {
    box-shadow: 0 4px 6px -4px black;
    border-color: var(--selected-inquiry-background-color);
}

.selected-card {
    border-color: var(--selected-inquiry-background-color);
}

.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}


.filter-field {
    line-height: 1.4em;
    padding: .3rem;
    margin-left: .5rem;
    resize: none;
    border: 1px solid var(--grey-outline-color);
    border-radius: .3rem;
    outline: none;
    color: var(--text-color);

    /* ************************* */
    overflow: hidden;
}


.inquiry-card-buttons-container {
    display: flex;
    gap: .5rem;
}


.no-results-container {
    padding: 1rem;
}