
.inquiry-selector-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: visible;
    height: 400px;
}

.inquiry-card-container{

    width: 300px;
    min-height: 100px;
    padding: 1rem;
    border: 1px solid black;
    border-top: none;
    font-size: 1.2rem;
}

.inquiry-card-container:hover{
    background-color: var(--faded-color);
    color: var(--selected-inquiry-background-color);
}

.selected-card{
    background-color: var(--selected-inquiry-background-color);
    color: var(--selected-inquiry-text-color);
}

.selected-card:hover{
    background-color: var(--selected-inquiry-background-color);
    color: var(--selected-inquiry-text-color);
}
.search-bar-container{
    margin-bottom: 1rem;
    padding: 1rem;
}